# 默认 emoji=false
# api.v1.mk                    # v0.8.0 Beta
# sub.d1.mk                    # v0.8.0 Beta
api.suda-cdn.com             # v0.7.2-a24cb7c
api.tsutsu.one               # v0.7.2
pub-api-1.bianyuan.xyz       # v0.7.2

# 默认 emoji=true
# v.id9.cc                     # v0.7.3-e775df3 Meta
www.nameless13.com           # v0.7.2-d47b886
api.wcc.best                 # v0.7.2-35d2965
# api-suc.0z.gs                # v0.7.2-35d2965 默认不排除任何节点
api.suda.cat                 # v0.7.2-a24cb7c
api.dler.io                  # v0.7.2
sub.xeton.dev                # v0.7.2
api.subcloud.xyz             # v0.7.2
api.nexconvert.com           # v0.7.2
api.subcsub.com              # v0.7.2
limbopro.cyou                # v0.7.2
